@charset "UTF-8"

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: linear-gradient(to right, #159A9C,#DEEFE7);
}
main{ 
    background-color:#FFFFFF;
    border-radius: 10px; 
    box-shadow: 5px 5px 15px #002333;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#002333 ;
    text-align: center;
    text-shadow: 1px 1px 2px #159A9C;
}
h2{
    color: #6485a9;
}