/*para telas diferentes*/

@media screen and (min-width: 768px) {
    #burguer{
        display: none;
    }
    #itens{
        display: block;
    }

    menu > ul >li{
        display: inline-block;
        
    }

    main{
        width: 768px;
    }
}