/*Para estilo da tela geral*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(190, 186, 186);
}

header{
    background-color: rgb(131, 129, 129);
    
}

#burguer{
    background-color: rgb(72, 72, 72);
    color: aliceblue;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer; /*para mudar o formato do mause e ele virar uma mão*/
}

#burguer:hover{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

h1{
    text-align:center;
    padding: 10px;
}

menu{
    background-color: darkgray;
    display: none;
}

menu > ul{
    list-style-type: none;
}

li{
    background-color: rgb(96, 93, 93);
    margin: 1px;
    padding: 10px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;

}

li:hover{
    background-color: rgb(164, 164, 164);
}

article{
    display: block;
}

h2{
    padding: 5px;
}
h4{
    padding: 10px;

}


main{
    display: block;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    width: 90vw;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

